.error {
    @include displayRules(unset);
    flex-direction: column;
    height: 100%;
    background: url("../../images/eggs.jpg");
    background-size: cover;
    background-position: center;
}

.error-type {
    margin: 1rem auto;
    font-size: 4.5rem;
    color:$firstFontColor;
}

.error-text {
    font-size: 2rem;
    color:$firstFontColor;
}
@media (min-width:760px) {
    .error-type {
        font-size: 6rem;
    }
    .error-text {
        font-size: 4rem;
    }
}