.recipe {
    @include displayRules(unset);
    flex-direction: column;
    max-width: 70%;
    margin: 1rem auto;
    border-radius: 0.5rem;
    box-shadow: 0 0.5rem 2rem rgb(71, 71, 71);
    color: $firstFontColor;
    background: $mainBgColor;

    .recipe-title {
        width: 100%;
        margin: auto 0;
        text-align: center;
        font-size: 2.5rem;
    }

    .recipe-img {
        width: 100%;
        border-radius: 0.5rem;
    }

    &__details {
        flex-direction: column;
        align-items: center;
        font-size: 1.8rem;
    }

    .recipe-paragraph {
        font-size: 1.6rem;
        font-weight: bold;
    }
}

.recipe__details {
    a {
        padding: 1rem;
        font-weight: bold;
        color: $firstFontColor;
    }
}


@media (min-width:410px) {
    .recipe {
        width: 45%;
        max-width: 90%;
        margin: 2rem auto;
    }

    .boxInfo p {
        font-size: 1.8rem;
    }
}

@media (min-width:410px) and (orientation:landscape) {
    .recipe {
        width: 40%;
        max-width: 90%;
        margin: 2rem;
    }
}

@media (min-width:760px) {
    .recipe {
        width: 25%;
        max-width: 90%;
        margin: 2rem;
    }
}

@media (min-width:1275px) {
    .recipe {
        width: 15%;
    }
}
