.search {
    @include displayRules(unset);
    flex-direction: column;
    margin-top: 1.5rem;

    &__form {
        @include displayRules(space-evenly);
        width: 93%;
    }
}

.search__form-bar {
    width: 100%;
    padding-left: 0.5rem;
    font-size: 2rem;
    outline: none;
    border: none;
    cursor: text;
    border-radius: 0.5rem;
    background: rgba(255, 255, 255, 0.726);
}

.search__form-bar:focus {
    @include focusStyle($secondFontColor);
}

.search__form-btn {
    margin: 0.4rem 0 0 -4.5rem;
    font-size: 2rem;
    outline: none;
    border: none;
    cursor: pointer;
    color: $firstFontColor;
    background: none;
}

.search__form-btn:focus {
    color: rgb(128, 126, 126);
}

.search__recipes {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 2rem;
    width: 100%;
}

@media (min-width:410px) and (orientation:landscape) {
    .search__form {
        justify-content: center;
        width: 95%;
    }
}


@media (min-width:760px) {

    .search__form-bar,
    .search__form-btn {
        font-size: 2.5rem;
    }
}


@media (min-width:1000px) {
    .search__form {
        justify-content: center;
        width: 95%;
    }

    .search__form-bar {
        font-size: 3rem;
        border: inset;
        width: 50%;
    }

    .search__form-btn {
        font-size: 3rem;
        color: $secondFontColor;
    }
}