#root {
    height: 100vh;
}

body {
    width: 100%;
    background-image: url('../../images/mainPhotoDesktop.jpg');
    background-attachment: fixed;
    background-position: right;
    background-size: cover;
    overflow-x: hidden;
}