#root {
    height: 100vh;
}

html {
    font-size: 10px;
}

body {
    width: 100%;
    background-image: url('../../images/bgPhoto.jpg');
    background-attachment: fixed;
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
}

@media (min-width:1000px) {
    body {
        background-image: none;
    }
}