.recipe {
    min-width: 50%;
    border-radius: 5px;
    box-shadow: 0 5px 20px rgb(71, 71, 71);
    margin: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: white;
}

@media (max-width:500px) {
    .recipe {
        max-width: 90%;
        margin: 15px auto;
    }
}

.recipe-title {
    font-size: 20px;
    text-align: center;
}

.recipe-img {
    width: 100%;
}

.recipe__details {
    display: none;
}

