.App {
  min-height: 100vh;
  background-image: linear-gradient(to top,
      #f3e7e9 0%,
      #e3eeff 99%,
      #e3eeff 100%);
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
}

.search-form {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.search-bar {
  width: 25%;
  font-size: 20px;
  border: none;
  padding: 10px;
  border-radius: 10px;
  cursor: auto;
}

.search-button {
  background: #0089ff;
  border: none;
  padding: 10px 15px;
  margin-left: 10px;
  color: white;
  font-size: 15px;
  border-radius: 10px;
  cursor: wait;
}

.recipes {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}