.buttonToUp {
    width: 100%;
    height: 4rem;
    font-size: 1.6rem;
    color: $firstFontColor;
    border: none;
    background: $mainBgColor;
    &:focus {
        @include focusStyle($firstFontColor);
        outline: none;
    }
}

@media (min-width:760px) {
    .buttonToUp {
        font-size: 2rem;
    }
}