@import './variables.scss';

.search {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px
}

.search__form {
    @include displayRules(unset);
    width: 90%;
}

.search__form-bar {
    border: 3px solid $recipeCardColor;
    -webkit-box-shadow:
        inset 0 0 8px rgba(0, 0, 0, 0.1),
        0 0 16px rgba(0, 0, 0, 0.1);
    -moz-box-shadow:
        inset 0 0 8px rgba(0, 0, 0, 0.1),
        0 0 16px rgba(0, 0, 0, 0.1);
    box-shadow:
        inset 0 0 8px rgba(0, 0, 0, 0.1),
        0 0 16px rgba(0, 0, 0, 0.1);
    margin-right: 5px;
    font-size: 20px;
    background: none;
    cursor: text;
    width: 90%;
}

.search__form-bar:focus {
    border: 5px solid rgb(76, 9, 139);
}

.search__form-btn {
    width: 35px;
    height: 35px;
    border: none;
    background: none;
    border-radius: 5px;
    cursor: pointer;
}

.search__recipes {
    width: 100%;
    background-image: url('../images/mainPhotoDesktop.jpg');
    background-attachment: fixed;
    background-position: right;
    background-size: cover;
}

@media (min-width:400px) {
    .search__recipes {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width:600px) {
    .search__recipes {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width:900px) {
    .search__recipes {
        display: flex;
        flex-wrap: wrap;
    }
}

.toUp {
    width: 100%;
    background: #eec60c;
}