@import './variables.scss';

.home {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  background-image: url('../images/mainPhotoMobile.jpg');
  background-size: cover;
  background-position: center;
}

.home-shadow {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .2);
}

.home__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 15%;
}

.home__box-title,
.home__box-paragraph,
.home__buttonsBox-searchBtn,
.home__buttonsBox-allRecipesBtn,
.home__box {
  z-index: 1;
}

.home__buttonsBox {
  margin-top: 10%;
}

.home__buttonsBox-searchBtn,
.home__buttonsBox-allRecipesBtn {
  width: 120px;
  height: 35px;
  margin: 5px;
  font-size: 15px;
  font-weight: 900;
  text-shadow: 3px 2px $textShadow;
  color: $mainFontColor;
  border: 1.5px solid $mainFontColor;
  border-radius: 20px;
  background: none;
}

.home__box-title,
.home__box-paragraph {
  font-weight: 800;
  text-shadow: 3px 2px $textShadow;
  color: $mainFontColor;
}

.home__box-title {
  font-size: 30px;
}

@media (min-width:300px) {
  .home__box-title {
    font-size: 25px;
  }

  .home__buttonsBox-searchBtn,
  .home__buttonsBox-allRecipesBtn {
    width: 105px;
    height: 35px;
  }
}

.home__footer {
  @include displayRules(center);
  height: 30px;
  font-size: 14px;
  font-weight: 700;
  color: $mainFontColor;
  background: rgba(0, 0, 0, 1);
}