@import './homePage.scss';
@import './searchPage.scss';
@import './recipe.scss';
@import './notFound.scss';

* {
    margin: 0;
    font-family: 'Catamaran', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;

}

#root {
    height: 100vh;
}