$mainFontColor: rgba(228, 222, 102, 1);
$textShadow: rgba(0, 0, 0, 1);
$recipeCardColor: rgba(238, 198, 10, 1);

@mixin displayRules($contentPosition) {
    display: flex;
    align-items: center;
    justify-content: $contentPosition;
}